<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>

    <style>
        body {
            text-align: center;
            background: lightblue;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
        }

        img {
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<header>
    <h1>Bad Request Exception</h1>
    <h2>400</h2>
</header>

<body>
<div>
    <p th:text="${exception.message}"></p>
    <img src="https://im0-tub-ua.yandex.net/i?id=f754e2d63b34d22187ebe8c6c6ca33e2&n=13"/>
</div>
</body>
</html>