<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>

    <style>
        body {
            text-align: center;
            background: lightblue;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
        }

        img {
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<header>
    <h1>Internal Server Error</h1>
    <h2>500</h2>
</header>

<body>
<div>
    <p th:text="${error.message}"></p>
    <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX12060825.jpg"/>
</div>
</body>
</html>