<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
</head>
<body>

<!--<div th:replace="fragments/header :: header"/>-->

<div>
    <div class="left">
        <h1>Photo</h1>

        <div>
            <button class="btn">Send message</button>
        </div>
    </div>

    <div class="right">
        <p class="userId" id="userId" th:text="${user.id}"></p>
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.lastName}"></p>
        <p th:text="${user.phone}"></p>
        <p th:text="${user.country}"></p>
        <p th:text="${user.city}"></p>
        <p th:text="${user.age}"></p>
        <p th:text="${user.dateRegistered}"></p>
        <p th:text="${user.dateLastActive}"></p>
        <p th:text="${user.relationshipStatus}"></p>
        <p th:text="${user.religion}"></p>
        <p th:text="${user.school}"></p>
        <p th:text="${user.university}"></p>
        <p class="loginUserId" id="loginUserId" th:text="${loginUserId}"></p>
    </div>

    <div class="relationship-status" id="relationship-status">
        <p id="status-field" th:text="${relationshipStatus}"></p>
    </div>

    <div class="incomeRequests" id="incomeRequests">
        <h4>Income Requests</h4>
    </div>

    <div class="outcomeRequests" id="outcomeRequests">
        <h4>Outcome Requests</h4>
    </div>
</div>
<!--/.container-->
<!---->
<!--<div th:replace="fragments/footer :: footer"/>-->

<p>
    <button id="sentFriendRequest" type="submit">Add to friends</button>
</p>

<p class="logout">
    <button id="logout" type="submit">Logout</button>
</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

<style>
    .left {
        float: left;
        width: 200px;
        height: 300px;
        border-style: solid;
    }

    .right {
        margin-left: 300px;
    }

    .btn {
        margin-top: 230px;
    }

    .logout {
        float: left;
    }

    .userId {
        display: none;
    }

    .loginUserId {
        display: none;
    }
</style>

<script>
    $(document).ready(function () {
        if ($('#userId').text() == $('#loginUserId').text()) {
            document.getElementById("sentFriendRequest").style.display = 'none';
            document.getElementById("relationship-status").style.display = 'none';
        } else {
            document.getElementById("incomeRequests").style.display = 'none';
            document.getElementById("outcomeRequests").style.display = 'none';
        }
    });

    $(document).ready(function (e) {
        $.ajax({
            url: "/income-requests/" + $('#loginUserId').text(),
            type: "GET",
            success: function success(xhr) {
                var incomeRequestsDiv = document.getElementById("incomeRequests");

                var users = JSON.parse(xhr.toString());

                for (var i = 0; i < users.users.length; i++) {
                    var aloneRequestDiv = document.createElement("div");

                    aloneRequestDiv.innerHTML = users.users[i].id + " "
                        + users.users[i].firstName + " "
                        + users.users[i].lastName + " ";

                    var denyButton = document.createElement("button");
                    denyButton.innerHTML = "Deny request";
                    denyButton.id = "denyButton" + users.users[i].id;
                    denyButton.addEventListener("click", denyRequest);

                    aloneRequestDiv.insertAdjacentElement("beforeEnd", denyButton);

                    var acceptButton = document.createElement("button");
                    acceptButton.innerHTML = "Accept request";
                    acceptButton.id = "acceptButton" + users.users[i].id;
                    acceptButton.addEventListener("click", acceptRequest);

                    aloneRequestDiv.insertAdjacentElement("beforeEnd", acceptButton);
                    incomeRequestsDiv.insertAdjacentElement("beforeEnd", aloneRequestDiv);
                }
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
        return false;
    });

    $(document).ready(function (e) {
        $.ajax({
            url: "/outcome-requests/" + $('#loginUserId').text(),
            type: "GET",
            success: function success(xhr) {
                var outcomeRequestsDiv = document.getElementById("outcomeRequests");
                var users = JSON.parse(xhr.toString());

                for (var i = 0; i < users.users.length; i++) {
                    var aloneRequestDiv = document.createElement("div");

                    aloneRequestDiv.innerHTML = users.users[i].id + " "
                        + users.users[i].firstName + " "
                        + users.users[i].lastName + " ";

                    var cancelButton = document.createElement("button");
                    cancelButton.innerHTML = "Cancel request";
                    cancelButton.id = "cancelButton" + users.users[i].id;
                    cancelButton.addEventListener("click", cancelRequest);

                    aloneRequestDiv.insertAdjacentElement("beforeEnd", cancelButton);
                    outcomeRequestsDiv.insertAdjacentElement("beforeEnd", aloneRequestDiv);
                }
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
        return false;
    });

    $('#logout').on("click", function (e) {
        $.ajax({
            url: "/logout",
            type: "GET",
            success: function success(xhr) {
                window.location.replace("/");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
        return false;
    });

    $('#sentFriendRequest').on("click", function (e) {
        if ($('#status-field').text() == 'Not friends') {
            $.ajax({
                url: "/add-relationship",
                type: "POST",
                data: {
                    userIdFrom: $('#loginUserId').text(),
                    userIdTo: $('#userId').text()
                },
                success: function success(xhr) {
                    alert("Request sent successfully");
                },
                error: function error(xhr) {
                    alert(xhr.responseText);
                }
            });
            return false;
        } else {
            var url = "/update-relationship?userIdTo=" + $('#userId').text() + "&userIdFrom="
                + $('#loginUserId').text() + "&status=REQUEST_SENT";

            updateRelationship(url)
        }
    });

    function cancelRequest() {
        $.ajax({
            url: "/update-relationship?userIdFrom=" + $('#loginUserId').text() + "&userIdTo="
            + this.id.replace('cancelButton', '') + "&status=DELETED",
            type: 'PUT',
            success: function success(xhr) {
                alert("success");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
        return false;
    }

    function denyRequest() {
        $.ajax({
            url: "/update-relationship?userIdTo=" + $('#loginUserId').text() + "&userIdFrom="
            + this.id.replace('denyButton', '') + "&status=REQUEST_DECLINED",
            type: 'PUT',
            success: function success(xhr) {
                alert("success");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
        return false;
    }

    function acceptRequest() {
        var url = "/update-relationship?userIdTo=" + $('#loginUserId').text() + "&userIdFrom="
            + this.id.replace('acceptButton', '') + "&status=FRIENDS";

        updateRelationship(url);
    }

    function updateRelationship(url) {
        $.ajax({
            url: url,
            type: 'PUT',
            success: function success(xhr) {
                alert("success");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });
        return false;
    }
</script>
</html>