<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Веб-додаток "Соціальна мережа"</title>

    <style>
        body {
            background-color: honeydew;
            font-family: Tahoma, Verdana, Segoe, sans-serif;
        }

        a {
            font-weight: 700;
            text-decoration: none;
            border-radius: 3px;
            background: inherit;
            transition: 0.2s;
            margin: 5px;
        }

        a:hover {
            background: honeydew;
        }

        .hiddenProfInfo {
            display: none;
        }

        .post-hide-info {
            display: none;
        }

        .menu {
            background-color: lightblue;
            border: 2px solid cornflowerblue;
            border-radius: 30px;
            float: left;
            padding: 20px;
            margin: 40px 20px 20px 20px;
            position: absolute;
            left: 100px;
            height: auto;
        }

        .info-row {
            display: flex;
            flex-direction: row;
            align-items: center
        }

        .posts {
            background-color: lightblue;
            border: 2px solid cornflowerblue;
            border-radius: 30px;
            padding: 20px;
            margin: 40px 20px 20px 20px;
            height: auto;
        }

        .menu ul {
            list-style: none;
        }

        .menu ul li button {
            display: block;
            margin-top: 3px;
            padding-left: 5px;
            padding-top: 4px;
            padding-bottom: 4px;
        }

        .photo {
            text-align: center;
            width: 200px;
            height: 300px;
        }

        #profile-img {
            border-style: solid;
        }

        .user-info {
            width: 60%;
            border: 2px solid cornflowerblue;
            border-radius: 30px;
            position: absolute;
            left: 300px;
            margin: 20px;
        }

        .right {
            margin: 20px;
            padding: 20px;
        }

        .left {
            background-color: lightblue;
            border: 2px solid cornflowerblue;
            border-radius: 30px;
            float: left;
            padding: 20px;
            margin: 20px 50px 20px 20px;
        }

        .right {
            background-color: lightblue;
            border: 2px solid cornflowerblue;
            border-radius: 30px;
            overflow: auto;
            margin: 20px;
        }

        .userId, .loginUserId {
            display: none;
        }
    </style>
</head>
<body>
<div class="menu">
    <a href="#" id="my-profile-btn">Моя сторінка</a>
    <br>

    <a href="#" id="get-feed-btn">Новини</a>
    <br>

    <a href="#" id="get-chats-btn">Чати</a>
    <br>

    <hr>
    <a href="#" id="logout-btn">Вийти</a>
</div>

<div class="user-info">
    <div class="left">
        <div class="photo"><img id="profile-img" class="photo"
                                src="https://www.no5.com/media/1772/personplaceholder.jpg"/></div>

        <div class="relationship-status" id="relationship-status">
            <p id="status-field"></p>
        </div>

        <p>
            <button id="send-friend-request-btn" type="submit">Додати до друзів</button>
        </p>

        <p>
            <button id="send-message-form-display-btn" onclick="displaySendMessageForm()">Надіслати повідомлення
            </button>
        </p>

        <form id="send-message-form">
            <p>Текст:</p>
            <input id="text" type="text" name="text"/>
            <button type="submit">Надіслати</button>
        </form>
        <button id="hide-send-message-form-btn" onclick="hideSendMessageForm()">Відмінити</button>
    </div>

    <div class="right">
        <p class="userId" id="userId" th:text="${user.id}"></p>

        <div class="info-row">
            <label for="userFirstName">Ім'я: </label>
            <p class="userFirstName" id="userFirstName" th:text="${user.firstName}"></p>
        </div>

        <div class="info-row">
            <label for="userLastName">Прізвище: </label>
            <p class="userLastName" id="userLastName" th:text="${user.lastName}"></p>
        </div>

        <div class="info-row">
            <label for="userPhone">Телефон: </label>
            <p class="userPhone" id="userPhone" th:text="${user.phone}"></p>
        </div>

        <button id="more-prof-info-btn">Більше</button>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userCountry">Країна: </label>
            <p class="userCountry hiddenProfInfo" id="userCountry" th:text="${user.country}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userCity">Місто: </label>
            <p class="userCity hiddenProfInfo" id="userCity" th:text="${user.city}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userAge">Вік: </label>
            <p class="userAge hiddenProfInfo" id="userAge" th:text="${user.age}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userDateRegistered">Дата реєстрації: </label>
            <p class="userDateRegistered hiddenProfInfo" id="userDateRegistered" th:text="${user.dateRegistered}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userDateLastActive">Остання активність: </label>
            <p class="userDateLastActive hiddenProfInfo" id="userDateLastActive" th:text="${user.dateLastActive}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userRelationshipStatus">Статус у відновинах: </label>
            <p class="userRelationshipStatus hiddenProfInfo" id="userRelationshipStatus"
               th:text="${user.relationshipStatus}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userReligion">Релігійні переконання: </label>
            <p class="userReligion hiddenProfInfo" id="userReligion" th:text="${user.religion}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userSchool">Школа: </label>
            <p class="userSchool hiddenProfInfo" id="userSchool" th:text="${user.school}"></p>
        </div>

        <div class="info-row">
            <label class="hiddenProfInfo" for="userUniversity">Університет: </label>
            <p class="userUniversity hiddenProfInfo" id="userUniversity" th:text="${user.university}"></p>
        </div>

        <button id="less-prof-info-btn" class="hiddenProfInfo">Менше</button>

        <hr>

        <div class="requests">
            <div class="income-requests" id="income-requests">
                <h4>Вхідні запити</h4>
            </div>

            <div class="outcome-requests" id="outcome-requests">
                <h4>Вихідні запити</h4>
            </div>
        </div>
    </div>

    <hr>

    <div class="posts">
        <div class="create-post-div">
            <button id="display-post-form-btn" onclick="displayPostForm()">Новий пост</button>

            <hr>

            <form id="post-form" class="post-hide-info">
                <p>Текст</p>
                <input id="post-message" name="post-message" type="text"/>

                <!--                <form id="tagged-users-form" hidden>-->
                <!--                    <p>Tagged users</p>-->

                <!--                    &lt;!&ndash;<input id="tagged-users-input" list="taggedUsers" name="taggedUsers"&ndash;&gt;-->
                <!--                    &lt;!&ndash;oninput="getFriendsByPattern()"&ndash;&gt;>-->
                <!--                    &lt;!&ndash;<datalist id="taggedUsers">&ndash;&gt;-->
                <!--                    &lt;!&ndash;<th:block th:each="friend : ${friends}">&ndash;&gt;-->
                <!--                    &lt;!&ndash;<option th:value="${friend.firstName} ${friend.lastName}"></option>&ndash;&gt;-->
                <!--                    &lt;!&ndash;</th:block>&ndash;&gt;-->
                <!--                    &lt;!&ndash;</datalist>&ndash;&gt;-->

                <!--                    <button type="submit">Tag</button>-->
                <!--                </form>-->

                <p class="post-hide-info">Місце</p>
                <input id="location" class="post-hide-info" name="location" type="text"/>

                <button id="create-post-btn" class="post-hide-info" type="submit">Створити</button>
            </form>

            <button id="hide-post-form-btn" class="post-hide-info" onclick="hidePostForm()">Відмінити</button>
        </div>

        <div id="posts-on-page-div"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>

<script th:inline="javascript">
    var loggedInUser;

    $(document).ready(function () {
        $.ajax({
            url: "/get-logged-user",
            type: "GET",
            success: function (xhr) {
               loggedInUser = xhr;
            }
        });
    });

    $(document).ready(function getRelationshipStatus() {
        $.ajax({
            url: "/get-relationship",
            type: "GET",
            data: {
                userId: $('#userId').text()
            },
            success: function (xhr) {
                var relationship = JSON.parse(xhr);
                if (relationship != null) {
                    $('#status-field').text(relationship.status);
                } else {
                    $('#status-field').text("Не в друзях");
                }
            }
        });

        return false;
    });

    $(document).ready(setTimeout(function () {

        hidePostForm();
        hideSendMessageForm();

        if ($('#userId').text() == loggedInUser.id) {
            document.getElementById("send-friend-request-btn").style.display = 'none';
            document.getElementById('hide-send-message-form-btn').style.display = 'none';
            document.getElementById("relationship-status").style.display = 'none';
            document.getElementById('send-message-form-display-btn').style.display = 'none';
        } else {
            document.getElementById("income-requests").style.display = 'none';
            document.getElementById("outcome-requests").style.display = 'none';
        }

        if ($('#status-field').text() == 'FRIENDS') {
            document.getElementById('send-friend-request-btn').style.display = 'none';
        }
    }, 500));

    $('#more-prof-info-btn').on('click', function () {
        $('.hiddenProfInfo').show();
        $('#more-prof-info-btn').hide();
    });

    $('#less-prof-info-btn').on('click', function () {
        $('.hiddenProfInfo').hide();
        $('#more-prof-info-btn').show();
    });

    function displayPostForm() {
        $('.post-hide-info').show();
        $('#display-post-form-btn').hide();
    }

    function hidePostForm() {
        $('.post-hide-info').hide();
        $('#display-post-form-btn').show();
    }

    function displaySendMessageForm() {
        document.getElementById('send-message-form-display-btn').style.display = 'none';
        document.getElementById('send-message-form').style.display = 'block';
        document.getElementById('hide-send-message-form-btn').style.display = 'block';
    }

    function hideSendMessageForm() {
        document.getElementById('send-message-form').style.display = 'none';
        document.getElementById('hide-send-message-form-btn').style.display = 'none';
        document.getElementById('send-message-form-display-btn').style.display = 'block';
    }

    $('#get-chats-btn').on('click', function getChats() {
        window.location.replace("/chats/" + loggedInUser.id);
    });

    $('#get-feed-btn').on('click', function getFeed() {
        window.location.replace("/feed/" + loggedInUser.id);
    });

    $('#my-profile-btn').on('click', function getProfile() {
        window.location.replace('/user/' + loggedInUser.id);
    });

    $('#logout-btn').on('click', function () {
        $.ajax({
            url: "/logout",
            type: "GET",
            success: function success() {
                loggedInUser = null;
                window.location.replace("/");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    });

    $('#send-message-form').on('submit', function (e) {
        var userTo = [[${user}]];

        var message = {
            text: document.getElementById('text').value,
            userTo: userTo,
            userFrom: loggedInUser
        };

        $.ajax({
            url: "/send-message",
            type: "POST",
            data: JSON.stringify(message),
            dataType: "json",
            contentType: "application/json",
            success: function success() {
                hideSendMessageForm();
                alert("Message sent successfully");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    });

    $(document).ready(setTimeout(function () {
        if ($('#userId').text() == loggedInUser.id) {
            $.ajax({
                url: "/income-requests",
                type: "GET",
                success: function success(xhr) {
                    var incomeRequestsDiv = document.getElementById("income-requests");
                    var users = JSON.parse(xhr.toString());
                    for (var i = 0; i < users.length; i++) {
                        var aloneRequestDiv = document.createElement("div");
                        aloneRequestDiv.innerHTML = users[i].id + " "
                            + users[i].firstName + " "
                            + users[i].lastName + " ";
                        var denyButton = document.createElement("button");
                        denyButton.innerHTML = "Deny request";
                        denyButton.id = "denyButton" + users[i].id;
                        denyButton.addEventListener("click", denyRequest);
                        aloneRequestDiv.insertAdjacentElement("beforeEnd", denyButton);
                        var acceptButton = document.createElement("button");
                        acceptButton.innerHTML = "Accept request";
                        acceptButton.id = "acceptButton" + users[i].id;
                        acceptButton.addEventListener("click", acceptRequest);
                        aloneRequestDiv.insertAdjacentElement("beforeEnd", acceptButton);
                        incomeRequestsDiv.insertAdjacentElement("beforeEnd", aloneRequestDiv);
                    }
                },
                error: function error(xhr) {
                    alert(xhr.responseText);
                }
            });
        }
        return false;
    }, 500));

    $(document).ready(setTimeout(function () {
        if ($('#userId').text() == loggedInUser.id) {
            $.ajax({
                url: "/outcome-requests",
                type: "GET",
                success: function success(xhr) {
                    var outcomeRequestsDiv = document.getElementById("outcome-requests");
                    var users = JSON.parse(xhr.toString());
                    for (var i = 0; i < users.length; i++) {
                        var aloneRequestDiv = document.createElement("div");
                        aloneRequestDiv.innerHTML = users[i].id + " "
                            + users[i].firstName + " "
                            + users[i].lastName + " ";
                        var cancelButton = document.createElement("button");
                        cancelButton.innerHTML = "Cancel request";
                        cancelButton.id = "cancelButton" + users[i].id;
                        cancelButton.addEventListener("click", cancelRequest);
                        aloneRequestDiv.insertAdjacentElement("beforeEnd", cancelButton);
                        outcomeRequestsDiv.insertAdjacentElement("beforeEnd", aloneRequestDiv);
                    }
                },
                error: function error(xhr) {
                    alert(xhr.responseText);
                }
            });
        }
        return false;
    }, 500));

    $('#send-friend-request-btn').on("click", function () {
        if ($('#status-field').text() == 'Не в друзях') {
            $.ajax({
                url: "/add-relationship",
                type: "POST",
                data: {
                    userIdTo: $('#userId').text()
                },
                success: function success() {
                    alert("Request sent successfully");
                },
                error: function error(xhr) {
                    alert(xhr.responseText);
                }
            });
            return false;
        } else {
            var url = "/update-relationship?userIdTo=" + $('#userId').text() + "&status=REQUEST_SENT";

            updateRelationship(url);
        }
    });

    function cancelRequest() {
        updateRelationship("/update-relationship?userIdTo=" + this.id.replace('cancelButton', '') + "&status=DELETED");
    }

    function denyRequest() {
        updateRelationship("/update-relationship?userIdTo=" + this.id.replace('denyButton', '') + "&status=REQUEST_DECLINED");
    }

    function acceptRequest() {
        updateRelationship("/update-relationship?userIdTo=" + this.id.replace('acceptButton', '') + "&status=FRIENDS");
    }

    function updateRelationship(url) {
        $.ajax({
            url: url,
            type: 'PUT',
            success: function success() {
                alert("success");
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    }

    $(document).ready(function () {
        $.ajax({
            url: "/get-posts",
            type: "GET",
            data: {
                userPostedPageId: $('#userId').text()
            },
            success: function success(xhr) {
                var pagePostsDiv = document.getElementById("posts-on-page-div");
                var posts = JSON.parse(xhr.toString());
                for (var i = 0; i < posts.length; i++) {
                    var ye = new Intl.DateTimeFormat('en', {year: 'numeric'}).format(posts[i].datePosted);
                    var mo = new Intl.DateTimeFormat('en', {month: 'short'}).format(posts[i].datePosted);
                    var da = new Intl.DateTimeFormat('en', {day: '2-digit'}).format(posts[i].datePosted);

                    var singlePostDiv = document.createElement("div");
                    singlePostDiv.innerHTML = posts[i].message + "<br>"
                        + posts[i].location
                        + "<br>Опублікований " + posts[i].userPosted.firstName + " " + posts[i].userPosted.lastName
                        + "<br><br>Дата публікації " + da + "-" + mo + "-" + ye;
                    var deleteButton = document.createElement("button");
                    deleteButton.innerHTML = "Видалити";
                    deleteButton.id = "dlt-post-btn" + posts[i].id + "_" + posts[i].userPosted.id;
                    deleteButton.addEventListener("click", deletePost);
                    singlePostDiv.insertAdjacentElement("beforeEnd", document.createElement("br"))
                    singlePostDiv.insertAdjacentElement("beforeEnd", deleteButton);
                    pagePostsDiv.insertAdjacentElement("afterBegin", document.createElement("hr"));
                    pagePostsDiv.insertAdjacentElement("afterBegin", singlePostDiv);
                }
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    });

    function deletePost() {
        var ids = this.id.replace('dlt-post-btn', '').split("_");
        var postId = ids[0];
        var userPostedId = ids[1];

        $.ajax({
            url: "/delete-post",
            type: "DELETE",
            data: {
                userPostedId: userPostedId,
                postId: postId
            },
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    }

    $("#create-post-btn").on('click', function () {
        //TODO users tagged
        var post = {
            message: document.getElementById("post-message").value,
            // usersTagged: [],
            userPosted: {
                id: loggedInUser.id
            },
            userPagePosted: {
                id: $('#userId').text()
            },
            location: document.getElementById("location").value
        };

        $.ajax({
            url: "/add-post",
            type: "POST",
            data: JSON.stringify(post),
            dataType: "json",
            contentType: "application/json",
            error: function error(xhr) {
                alert(xhr.responseText);
            }
        });

        return false;
    });
</script>
</html>